*{
  margin:0;
  padding:0;
}

body{
  font-size:20px;
  font-family:Helvetica, Arial, Sans;
  width: 100%;
  margin: 0;
  padding: 0;
}


#header{
  background:#2e7bcf;
  color: #fff;
}

#title{
  width: 80%;
  margin: 0 auto;
  padding: 50px 50px;
}

#title h1{
  font-size:50px;
  padding: 10px 0;
}

#title h3{
  font-size:25px;
  padding: 10px 0;
}

#btn {
  float:right;
  font-size: 18px;
}

.round {
border:1px solid;
border-radius:25px;
-moz-border-radius:25px; /* Old Firefox */
padding: 10px;
}

#header a:link, 
#header a:visited { 
color:#fff; 
text-decoration:none; 
}
#header a:hover, 
#header a:active { 
color:#fff; 
text-decoration:underline; 
}



#content{
  background:#fff;
  width: 80%;
  margin: 50px auto;
}

#content p{
  margin: 0 0;
  font-size:17px;
}

#content h3{
  margin: 8px 0;
  font-size:20px;
}

.fs{
  margin: 30px 0;
}

#doc_link {
  margin: 40px 0;
  font-size:14px;
}


