


pre {
  font-size: 13px; color:#fff;
}

code {
  font-size: 13px; color:#000;
}

pre {
  padding: 1em 2em;
  overflow-x: auto;
  overflow-y: hidden;
  background: #555;
  margin: 1em 0;
}

.content h1 {
  margin: 30px 0;
}
.content h2 {
  margin: 28px 0;
}
.content h3 {
  margin: 26px 0;
}
.content h4 {
  margin: 25px 0;
}
.content h5 {
  margin: 22px 0;
}
.content p {
  margin: 20px 0;
}

.content a {
  text-decoration:underline;
}

.content ul li{
  list-style:disc inside;
}